= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :zip_code
    %br/
    = f.text_field :zip_code
  .field
    = f.label :role
    %br/
    = f.number_field :role
  .actions
    = f.submit
