%p#notice= notice
%h1 My Courses
%table
  %thead
    %tr
      %th Code
      %th Title
      %th Details
      %th Credit hours
      %th Semester
      %th Instructor
      %th{colspan: "3"} Actions
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.code
        %td= course.title
        %td= course.details
        %td= course.credit_hours
        %td= course.semester
        %td= course.instructor
        
        %td= link_to 'Details', course
        -if current_user.admin?
          %td= link_to 'Edit', edit_course_path(course)
          %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
        -else 
          %td= link_to 'Drop', drop_user_path(:course => course.id), data: { confirm: 'Are you sure?' }
       
%br/
= link_to 'Back', user_path
