%p#notice= notice
%h1 Course Details

%p
  %strong Code:
  = @course.code
%p
  %strong Title:
  = @course.title
%p
  %strong Details:
  = @course.details
%p
  %strong Credit hours:
  = @course.credit_hours
%p
  %strong Semester:
  = @course.semester
%p
  %strong Instructor:
  = @course.instructor

-if current_user.admin?
  = link_to 'Edit', edit_course_path(@course)
  |
= link_to 'Back', courses_path
